In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections as col
import re
import datetime as dt
import itertools
from statistics import median

In [24]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
903,tt0278504,46000000,113714830,Insomnia,Al Pacino|Robin Williams|Maura Tierney|Hilary ...,Christopher Nolan,A tough cop. A brilliant killer. An unspeakabl...,Two Los Angeles homicide detectives are dispat...,118,Crime|Mystery|Thriller,Section Eight|Alcon Entertainment|Witt/Thomas ...,5/24/2002,6.6,2002
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013
1100,tt0316396,100000000,121975011,Peter Pan,Jeremy Sumpter|Jason Isaacs|Rachel Hurd-Wood|R...,P.J. Hogan,All children grow up except one.,"In stifling Edwardian London, Wendy Darling me...",113,Adventure|Fantasy|Family,Columbia Pictures|Universal Pictures|Revolutio...,12/25/2003,6.7,2003
1689,tt0765429,100000000,266465037,American Gangster,Denzel Washington|Russell Crowe|Chiwetel Ejiof...,Ridley Scott,There are two sides to the American dream.,Following the death of his employer and mentor...,157,Drama|Crime,Imagine Entertainment|Universal Pictures|Scott...,11/2/2007,7.3,2007
209,tt2345737,12250000,2295423,The Rover,Guy Pearce|Robert Pattinson|Scoot McNairy|Nash...,David MichÃ´d,Fear the man with nothing left to lose.,A decade after the collapse of the western wor...,100,Crime|Drama,Porchlight Films|FilmNation Entertainment|Scre...,5/18/2014,6.0,2014

In [25]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [26]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ..
data["profit"]= data["revenue"] - data["budget"]

#data

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [27]:
# тут пишем ваш код для решения данного вопроса:

max_buget = data.loc[data['budget'] == data['budget'].max()].original_title  

print('У фильма "', max_buget.to_string(), '" самый большой бюджет из списка') 

answers['1'] = max_buget.to_string() #+
answers

У фильма " 723    Pirates of the Caribbean: On Stranger Tides " самый большой бюджет из списка

{'1': '723    Pirates of the Caribbean: On Stranger Tides'}

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [28]:
max_runtime = data.loc[data['runtime'] == data['runtime'].max()].original_title 

print('Фильм "', max_runtime.to_string(), '" - самый длительный из списка') 

answers['2'] = max_runtime.to_string() #+
answers

Фильм " 1157    Gods and Generals " - самый длительный из списка

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [29]:
min_runtime = data.loc[data['runtime'] == data['runtime'].min()].original_title 

print('Фильм "', min_runtime.to_string(), '" - самый короткий из списка') 

answers['3'] = min_runtime.to_string() #+
answers

Фильм " 768    Winnie the Pooh " - самый короткий из списка

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh'}

# 4. Какова средняя длительность фильмов?

In [30]:
avg_runtime = round(data['runtime'].mean(), 0)

print('Средняя продолжительность фильмов: "', str(avg_runtime)) 

answers['4'] = avg_runtime #+
answers

Средняя продолжительность фильмов: " 110.0

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0}

# 5. Каково медианное значение длительности фильмов?

In [31]:
med = median(data['runtime'])
print('Медианноге значение длительности фильмов:', str(med))

answers['5'] = med #+
answers

Медианноге значение длительности фильмов: 107

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [32]:
max_profit = data.loc[data['profit'] == data['profit'].max()].original_title 

print('Фильм "', max_profit.to_string(), ' - самый прибыльный из списка') 

answers['6'] = max_profit.to_string() #+
answers

Фильм " 239    Avatar  - самый прибыльный из списка

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar'}

# 7. Какой фильм самый убыточный?

In [33]:
max_loss = data.loc[(data['profit'] < 0) & (data['profit'] == data['profit'].min())].original_title 

print('Фильм "', max_loss.to_string(), ' - самый убыточный из списка') 

answers['7'] = max_loss.to_string() #+
answers

Фильм " 1245    The Lone Ranger  - самый убыточный из списка

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [34]:
profitable_cnt = data.loc[(data['profit'] > 0)].original_title.count()
print('В списке -', str(profitable_cnt), 'фильмов, которые принесли прибыль') 
answers['8'] = str(profitable_cnt) #+
answers

В списке - 1478 фильмов, которые принесли прибыль

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
films_2008 = data[data['release_year'] == 2008] # фильмы, выпущенные в 2008 году
                     
gross_film = films_2008.loc[films_2008['profit'] == films_2008['profit'].max()].original_title.to_string()

print('В 2008 году самым кассовым фильмом оказался фильм "', gross_film,'"')
answers['9'] = gross_film #+
answers

В 2008 году самым кассовым фильмом оказался фильм " 599    The Dark Knight "

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [36]:
films_12_14 = data.loc[(data['release_year'].isin([2012,2013,2014])) ] # фильмы, выпущенные c 2012 по 2014 годы
                    
unprofitable_film = films_12_14.loc[films_12_14['profit'] == films_12_14['profit'].min()].original_title.to_string()

print('За период с 2012 по 2014 г. самым убыточным фильмом был:  "', unprofitable_film,'"')

answers['10'] = unprofitable_film #+
answers

За период с 2012 по 2014 г. самым убыточным фильмом был:  " 1245    The Lone Ranger "

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger'}

# 11. Какого жанра фильмов больше всего?

In [37]:
genres_cnt = col.Counter()
genres = data['genres'].str.split('|') # строку с жанрами превращаем в список
#print(genres)

for genres_list in genres:            # цикл по спискe фильмов 
    for genre in genres_list:         # цикл по списку жанров
        genres_cnt[genre] += 1 

print ('Самый часто встречающийся жанр в выборке: ', str(genres_cnt.most_common(1)))

answers['11'] = str(genres_cnt.most_common(1)) #+
answers

Самый часто встречающийся жанр в выборке:  [('Drama', 782)]

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]"}

ВАРИАНТ 2

In [38]:
films = data.copy() 
films.genres = films.genres.str.split('|') # строку с жанрами превращаем в массив
films = films.explode('genres')            # превращаем списки жанров в строки 

genres = films['genres'].value_counts().sort_values(ascending=False) # считаем встречаемость и сортирем по убыванию

print ('Самый часто встречающийся жанр в выборке - ', str(genres.index[0]), ', встречается', str(genres.iloc[0]), 'раз')

answers['11.2'] = str(genres.index[0]) #+
answers

Самый часто встречающийся жанр в выборке -  Drama , встречается 782 раз

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
films = data.copy() 

films.genres = films.genres.str.split('|') # строку с жанрами превращаем в массив
films = films.explode('genres')            # превращаем списки жанров в строки 

# считаем встречаемость и сортирем по убыванию
profits = films.loc[films['profit'] > 0]['genres'].value_counts().sort_values(ascending=False) 

print('Фильмы жанра "',str(profits.index[0]),'" чаще всего становятся прибыльными')

answers['12'] = str(profits.index[0]) #+
answers

Фильмы жанра " Drama " чаще всего становятся прибыльными

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [40]:
directors = data.copy() 

directors.director = directors.director.str.split('|') # если несколько режисёров
directors = directors.explode('director')              # превращаем списки режисёров в строки 

#считаем суммарную прибыль фльмов режисёра и сортируем по убыванию 
dir_revenue = directors.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

#смотрим только первую строку, что не совсем правильно (если фильмы нескольких режисёров имеют одинаковую прибыль) - 
# в более поздних вопросах эа проблема решается

director = dir_revenue.index[0] 
print('Фильмы, которые снял режисёр', director, ', имеют самые большие кассовые сборы')

answers['13'] = str(director) #+
answers

Фильмы, которые снял режисёр Peter Jackson , имеют самые большие кассовые сборы

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
directors = data.copy() 
directors.director = directors.director.str.split('|') # если несколько режисёров
directors = directors.explode('director')              # превращаем списки режисёров в строки 

pattern = re.compile(r'.*Action.*')
act_directors = directors.loc[lambda x: x['genres'].str.contains(pattern, regex = True)].director

act_director = act_directors.value_counts().sort_values(ascending=False).index[0] #первый элемент в списке, отсортированном по количеству
print(act_director, 'снял больше всего фильмов в стиле Action')

answers['14'] = str(act_director) #+
answers

Robert Rodriguez снял больше всего фильмов в стиле Action

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
actors = data.loc[(data['release_year'] == 2012)].copy()      
actors.cast = actors.cast.str.split('|') 
actors = actors.explode('cast')              # превращаем списки актёров в строки 

# кассовые сборы фильмов, группируем по актёрам, сортируем по убыванию 
films_revenue = actors.groupby(['cast'])['revenue'].sum().sort_values(ascending=False) 

# берём первый элемент отсортированного по убыванию списка
print('Фильмы с', films_revenue.index[0], 'принесли самые высокие кассовые сборы в 2012 году') 

answers['15'] = str(films_revenue.index[0]) #+
answers

Фильмы с Chris Hemsworth принесли самые высокие кассовые сборы в 2012 году

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
hi_buget_films = data.loc[(data['budget'] > data['budget'].mean())].copy() # фильмы с бюджетом выше среднего по выборке
hi_buget_films.cast = hi_buget_films.cast.str.split('|') 
hi_buget_films = hi_buget_films.explode('cast')                            # превращаем списки актёров в строки 

# количество фильмов в группировке по актёрам
actor_cnt = hi_buget_films.groupby(['cast'])['original_title'].count().sort_values(ascending=False) 

#берём первую строку отсортированного списка
print( actor_cnt.index[0], 'снялся в большем количестве высокобюджетных фильмов')

answers['16'] = str( actor_cnt.index[0]) 
answers

Matt Damon снялся в большем количестве высокобюджетных фильмов

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
ncage_films = data.copy()
ncage_films.cast = ncage_films.cast.str.split('|') 
ncage_films = ncage_films.explode('cast')                            # превращаем списки актёров в строки 

ncage_films = ncage_films.loc[ncage_films['cast'] == 'Nicolas Cage'] # выбираем строки с Николасом Кэйджем

ncage_films.genres = ncage_films.genres.str.split('|') 
ncage_films = ncage_films.explode('genres')                          # строку с жанрами превращаем в массив

#список фильмов с Н. Кэйджем группируем по жанрам и считаем количество, сортируем по убыванию
ncage_gengres = ncage_films.groupby(['genres'])['original_title'].count().sort_values(ascending=False)  

# берём первую строку списка
print('Nicolas Cage снимался больше всего в фильмах жанра', ncage_gengres.index[0])

answers['17'] = str(ncage_gengres.index[0]) 
answers

Nicolas Cage снимался больше всего в фильмах жанра Action

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
pp_films = data.copy()
pp_films.production_companies = pp_films.production_companies.str.split('|') 
pp_films = pp_films.explode('production_companies')                          # превращаем списки кинокомпаний в строки 

# Список фильмов компании Paramount Pictures
pp_films = pp_films.loc[(pp_films['production_companies'] == 'Paramount Pictures')]

# Фильмы с минимальной прибылью из этого списка
unprofitable_pp_film = pp_films.loc[(pp_films['profit'] == pp_films['profit'].min())]
print ('Самый убыточный фильм от Paramount Pictures - ', unprofitable_pp_film['original_title'].to_string(header=False, index=False))

answers['18'] = unprofitable_pp_film['original_title'].to_string(header=False, index=False)
answers

Самый убыточный фильм от Paramount Pictures -   K-19: The Widowmaker

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
py_films = data.copy()

# Суммарные кассовые сборы за год
years_rev = py_films.groupby(['release_year'])[['revenue']].sum() 

# Год с максимальными кассовыми сборами 
max_rev_year = years_rev.loc[(years_rev['revenue'] == years_rev['revenue'].max())]

print(max_rev_year.index[0], ' год стал самым успешным по сммарным кассовым сбборам')

answers['19'] = str(max_rev_year.index[0]) 
answers

2015  год стал самым успешным по сммарным кассовым сбборам

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
wb_films = data.copy()
wb_films.production_companies = wb_films.production_companies.str.split('|') 
wb_films = wb_films.explode('production_companies')              # превращаем списки кинокомпаний в строки 

# Список фильмов компании Warner Bros
wb_films = wb_films.loc[lambda x: x['production_companies'].str.contains('Warner Bros*', regex = True)]

# Находим годовую прибыль и сортируем по убыванию
years_prof = wb_films.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending=False)

# берём первуб строку этого списка
print(years_prof.index[0], ' год стал самым прибыльным для студии Warner Bros')

answers['20'] = str(years_prof.index[0]) 
answers

2014  год стал самым прибыльным для студии Warner Bros

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
months_films = data.copy() #release_date

# находим месяц выхода фильма, заносим его в новый столбец
months_films['rd_month'] = pd.DatetimeIndex(months_films['release_date']).month

# группируя по месяцу выхода, считаем количество фильмов
res_array = months_films.groupby(['rd_month'])[['original_title']].count().sort_values(['original_title'],ascending=False)

# берём первую строку этого списка
res = res_array.index[0]

print('В',res,'месяце за все годы суммарно вышло больше всего фильмов')

answers['21'] = str(res) 
answers

В 9 месяце за все годы суммарно вышло больше всего фильмов

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
months_films = data.copy() 
# находим месяц выхода фильма, заносим его в новый столбец
months_films['rd_month'] = pd.DatetimeIndex(months_films['release_date']).month

# список фильмов, вышежших летом

summer_films = months_films.loc[lambda x: x['rd_month'].isin([6,7,8])].original_title.count()
print('Летом вышло', str(summer_films), 'фильмов')

answers['22'] = str(summer_films) 
answers

Летом вышло 450 фильмов

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450'}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
months_films = data.copy() 
months_films.director = months_films.director.str.split('|') 
months_films = months_films.explode('director') # превращаем списки режисёров в строки 

# находим месяц выхода фильма, заносим его в новый столбец
months_films['rd_month'] = pd.DatetimeIndex(months_films['release_date']).month

# фильмы, вышедшие зимой
winter_films = months_films.loc[lambda x: x['rd_month'].isin([1,2,12])]

# режиссёры зимних фильмов с количеством выпущенных фильмов, сортируем по убываню
winter_directors = winter_films.groupby(['director']).original_title.count() \
                                                     .reset_index(name='Films_Count') \
                                                     .sort_values(['Films_Count'], ascending=False)

res =  winter_directors.director.iloc[0] 
print('Для ', res, 'зима – самое продуктивное время года')

answers['23'] = str(res) 
answers

Для  Peter Jackson зима – самое продуктивное время года

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
films_pcs = data.copy()
films_pcs.production_companies = films_pcs.production_companies.str.split('|') 
# превращаем списки компаний в строки
films_pcs = films_pcs.explode('production_companies')   

# считаем длину названия и заносим в новый столбец
films_pcs['title_len'] = films_pcs["original_title"].str.len()

# группируя по компаниям, считаем среднюю длину названий фильмов, соритруем по убыванию это длины
films_pcs = films_pcs.groupby('production_companies').mean()[['title_len']].sort_values(by='title_len',ascending=False)

# берём первую строку
studio = films_pcs.index[0]

# средняя длина заголовка фильма
films_cnt = films_pcs.iloc[0].to_string(header=False, index=False)

print('Студия "', studio, '" даёт смамые длинные навания своим фильмам по количеству символов: в среднем -', films_cnt,'символов')

answers['24'] = str(studio) 
answers

Студия " Four By Two Productions " даёт смамые длинные навания своим фильмам по количеству символов: в среднем -  83.0 символов

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
films_pcs = data.copy()
films_pcs.production_companies = films_pcs.production_companies.str.split('|') 
films_pcs = films_pcs.explode('production_companies')   

# новое поле с длиной описания в словах (разделяем строку по пробелам)
films_pcs['overview_words'] = films_pcs["overview"].str.split().apply(len)

#print(films_pcs.overview_words)

# сортируем список по среднему количеству слов
films_pcs = films_pcs.groupby('production_companies').mean()[['overview_words']].sort_values(by='overview_words',ascending=False)

# Студия, в описаниях фильмов которой, в среднем больше всего слов 
studio = films_pcs.index[0]

# Количество слов в среднем в описании фильмов этой студии
max_overview_len = films_pcs.iloc[0].to_string(header=False, index=False)

print('Студия', studio, 'даёт самые длинные описания сврим фильмам: в среднем -', max_overview_len,'слов')

answers['25'] = str(studio) 
answers

Студия Midnight Picture Show даёт самые длинные описания сврим фильмам: в среднем -  175.0 слов

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave']}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
films_rates = data.copy()

# Список фильмы из ответов, нужен для сравнения двух списков
answ_films = [['Inside Out', 'The Dark Knight', '12 Years a Slave'], 
              ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
              ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
              ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
              ['Upside Down', 'Inside Out', 'Iron Man']]

# Находим 99 процентиль по рейтингу фильмов
p = np.percentile(films_rates.vote_average, 99)

# Сравнивам рейтинг фильмов с этим процентилем
best_rating_films = films_rates.loc[lambda x: x['vote_average'] >= p]
res = ''

# Сравниваем список из ответов с полученными списком: 
#  если список из ответов является подсписком найденного списка с высоким рейтингом, он и будет ответом 
for films in answ_films:
    #print(films)
    if(set(films).issubset(set(best_rating_films.original_title))):
        res = films

#print(best_rating_films.original_title)
        
print('Фильмы (из указанных в ответах): ')
print(res)
print('- входят в 1 процент лучших по рейтингу')

answers['26'] = res
answers

Фильмы (из указанных в ответах):
['Inside Out', 'The Dark Knight', '12 Years a Slave']
- входят в 1 процент лучших по рейтингу

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': "[('Drama', 782)]",
 '11.2': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave']}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [126]:
actors = data.copy()
actors.cast = actors.cast.str.split('|') # строку с актёрами превращаем в список

# создаём словаь для ответа
counts = col.defaultdict(int) 

# по всем спискам актёров 
for collact in actors.cast: 
    collact.sort() 
    # по всем комбинациям пар актёров
    for pair in itertools.combinations(collact, 2): 
        # считаем количество встречаемости данной пары
        counts[pair] += 1

# сортируем полученный массив по убыванию 2 поля (количество)
sorted_array = sorted(counts.items(), key=lambda item: (item[1]), reverse=True)

# Максимальная частота встречаемости - 0 элемент массива, 1 поле
max_films = sorted_array[:1][0][1]

# Пары, у которых встречаемость - максимальная
res = [a for a, c in sorted_array if c == max_films]
#print(res)

print('Актёры ', res, ' чаще всего снимаются в одном фильме: снялись в ', max_films,' фильмах')

answers['27'] = res
answers

Актёры  [('Daniel Radcliffe', 'Emma Watson'), ('Daniel Radcliffe', 'Rupert Grint'), ('Emma Watson', 'Rupert Grint')]  чаще всего снимаются в одном фильме: снялись в  8  фильмах

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': [('Daniel Radcliffe', 'Emma Watson'),
  ('Daniel Radcliffe', 'Rupert Grint'),
  ('Emma Watson', 'Rupert Grint')]}

# Submission

In [127]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': [('Daniel Radcliffe', 'Emma Watson'),
  ('Daniel Radcliffe', 'Rupert Grint'),
  ('Emma Watson', 'Rupert Grint')]}

In [128]:
# и убедиться что ни чего не пропустил)
len(answers)

27